<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" clientResourceRelativePath="1.0.0">
    <dojo>
        <packages>
            <add name="audience-enhancer" location="ClientResources/scripts" />
        </packages>
    </dojo>
    <clientResources>
        <add name="audience-enhancer-styles"
             path="ClientResources/styles/audience-enhancer.css"
             resourceType="Style" />
    </clientResources>
    <clientModule initializer="audience-enhancer/audience-enhancer">
        <moduleDependencies>
            <add dependency="CMS" type="runAfter" />
        </moduleDependencies>
        <requiredResources>
            <add name="audience-enhancer-styles" />
        </requiredResources>
    </clientModule>
</module>
